@import url(./public/css-import/Nunito-Regular.css);
@import url(./public/css-import/PressStart2P.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
    height: 100vh;
}

canvas {
    border: 1px solid black;
}

#container{
    display: grid;
    place-items: center;
}

#canvas-top{
    width: 100%;
    padding: 0 0;
    display: grid;
    grid-template-rows: auto auto;
    background-color: #000;
    grid-row-gap: 1px;
    font-family: 'Press Start 2P',"Nunito";
    font-size: 20px;
    & .line{
        padding: 3px 0;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
    }
}