@import url(./public/css-import/Nunito-Regular.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
    height: 100vh;
}

canvas {
    border: 1px solid black;
}

#container{
    display: grid;
    place-items: center;
}

#canvas-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    font-family: "Nunito";
    font-size: 20px;
}